extends ../layouts/default
include ../mixins/comments
block content
    .container
        if(data.post)
            h1=data.post.title
            .pull-left
                a(href="https://www.facebook.com/sharer/sharer.php?u="+social.url, target="_blank") Facebook
            div
                img(src=data.post.headImage.url height=300 width=300)
            
            p !{data.post.content}
            br
            if(data.post.tags.length > 0)
                p
                    |Tags:
                    each tag in data.post.tags
                        |#{" "+tag.name}
            hr
            div
                h3 Comments
                +comment-form()
                +comment-thread(data.comments)
        else
            h2 Error. Blog post doesn't exist

