extends ../layouts/default
block content
    .container
        if(data.post)
            h1=data.post.title
            div
                img(src=data.post.headImage.url height=300 width=300)
            
            p !{data.post.content}
            br
            if(data.post.tags.length > 0)
                p
                    |Tags:
                    each tag in data.post.tags
                        |#{" "+tag.name}
        else
            h2 Error. Blog post doesn't exist

