extends ../layouts/default

block content
    div.container
        form(action="/search" method="GET")
            div.form-group
                input.form-control(type="text" name="search" placeholder="Search...")
            input(type="submit" value="Search")
        if(data.searchResults.length > 0)
            div.container
                h1 Results
                each result in data.searchResults
                    ul
                        li 
                            a(href="/blog/"+result.slug) #{result.title}
        else
            h2 No results. Try another search...
