extends ../layouts/default

block content
    div.container
        form(action="/search" method="GET")
            div.form-group
                input.form-control(type="text" name="search" placeholder="Search...")
            input(type="submit" value="Search")
        if(data.searchResults)
            div.container
                h1=Results
                each key in Object.keys(data.searchResults)
                    hr
                    h2=key
                    each result in data.searchResults[key]
                        ul
                            li 
                                a(href=data.paths[key]+"/"+result.slug) #{result.title}
        else
            h2 No results. Try another search...
