mixin fbLink
    a(href="https://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(social.url), target="_blank") Facebook

mixin twitterLink
    a(href="https://twitter.com/intent/tweet?url="+encodeURIComponent(social.url)+"&text="+encodeURIComponent(social.descriptionText), target="_blank") Twitter


mixin pinterestLink
    a(href="http://pinterest.com/pin/create/button/?url="+encodeURIComponent(social.url)+"&media="+encodeURIComponent(social.imgUrl)+"&description="+encodeURIComponent(social.descriptionText), target="_blank") Pinterest


mixin googlePlusLink
    a(href="https://plus.google.com/share?url="+encodeURIComponent(url), target="_blank") Google+
